.heading {
  text-align: center; }

.tableheader {
  font-size: 11px;
  text-decoration: underline; }

.tablesubtitle {
  font-size: 8px; }

table {
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }
  table img {
    max-width: 100px;
    margin: 0 auto;
    text-align: center; }
  table span {
    color: green;
    font-family: fantasy;
    font-weight: bold; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  background-image: url("../images/24242.jpeg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  body #navbar {
    overflow: hidden;
    background-image: url("../images/bg-black-50.png"); }
    body #navbar li {
      float: left;
      list-style-type: none; }
    body #navbar a {
      font-size: 18px;
      float: left;
      display: block;
      color: #00FF00;
      padding: 10px;
      text-decoration: none;
      font-family: 'Rye', cursive; }
    body #navbar img {
      width: 30%;
      height: 10%; }
    body #navbar .myHeader {
      float: right; }
  body .button {
    float: right;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50%;
    border-color: green;
    background-color: white; }
  body .content {
    padding: 16px; }
  body .sticky {
    position: fixed;
    top: 0;
    width: 100%; }
  body .sticky + .content {
    padding-top: 60px; }
  body h1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 6.5rem;
    color: #32CD32;
    display: flex;
    margin-top: 300px;
    justify-content: center;
    text-align: center; }
  body h3 {
    font-family: 'Ewert', cursive;
    font-weight: bold;
    margin-top: 150px;
    text-align: center; }
  body h4 {
    color: green; }
  body #family-div {
    font-size: 30px;
    font-family: 'Expletus Sans', cursive;
    padding-left: 20%;
    padding-right: 20%; }
    body #family-div img {
      max-width: 100%;
      width: 100%; }
  body input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; }
  body input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: blue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
    body input[type=submit] :hover {
      background-color: #45a049; }
  body .former {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
    margin-left: 30%; }
  body #video-div {
    font-size: 30px;
    font-family: 'Expletus Sans', cursive;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    body #video-div iframe {
      width: 1450px;
      height: 1000px; }
    body #video-div img {
      max-width: 100%;
      width: 100%; }
  body .content {
    padding: 30px; }
  body footer {
    margin-bottom: 0;
    padding: 10px;
    text-align: center;
    /* Style all font awesome icons */ }
    body footer .fa {
      color: #00FF00;
      padding: 20px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      /* Add a hover effect  */
      /* Facebook */
      /* Twitter */ }
      body footer .fa .fa:hover {
        opacity: 0.7; }
      body footer .fa .fa-facebook {
        background: #00FF00;
        color: white; }
      body footer .fa .fa-twitter {
        background: #55ACEE;
        color: white; }

#menu-image {
  display: none; }

#menu-table {
  display: block; }

.button {
  display: none; }

@media only screen and (max-width: 768px) {
  .button {
    display: block; }
  body #video-div iframe {
    width: 200px;
    height: auto; }
  #menu-image {
    display: block; }
    #menu-image img {
      width: 100%; }
  #menu-table {
    display: none; }
  body h1 {
    font-size: 4.5rem; } }
